*, *:after, *:before {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
	color:black;
	font-family: "Open Sans", arial;
}

header {
	color: #000;
	padding-top: 08vw;
	padding-bottom: 10vw;
	text-align: center;
}

body {
  background: white;
  font-family: "Open Sans", arial;
}

hr {
	text-align: center;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
}

table.concerts {
  width: 90%;
  max-width: 550px;
  height: 320px;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 5px auto;
  background: white;
}

th {
  background: #1b1e24;
  height: 54px;
  width: 25%;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #343a45;
  transition: all 0.2s;
}

tr {
  border-bottom: 1px solid #cccccc;
}

td.band {
  border-bottom: 3px solid #cccccc;
  border-top: 3px solid #cccccc;
  border-right: 3px solid #cccccc;
  text-align: center;
}

td.first {
  border-top: 3px solid #cccccc;
}

td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
  text-align: center;
}

h1 {
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: arial, verdana, serif;
  letter-spacing: 4px;
}

h3 {
  text-align: center;
  font-family: arial, verdana, serif;
  letter-spacing: 2px;
}

#map { 
	height:550px;
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
}

#navcenter {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#tabs ul {
	list-style: none;
	background: #ffffff;
	border: none;
	display: table;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

ul#horizontal-list li {
	display: inline;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	border: none;
}

#tabs li a {
	width: 100px;
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

#tabs {
	border: none;
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
	background: #ffffff;
}

